body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.feeds-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

header {
	background-color : #FF6600;
	padding: .3em;
}

.list-item:nth-child(even) {
 	background-color : #F6F6EF;
}

.list-item td {
	padding: .4em .2em;
}

.feeds-container {
	width: 100%;
}

.comments, .points {
	display: block;
	text-align: center;
}

.upvote-button {
	background-image: url('../upvote.gif');
	width: 10px;
	height: 13px;
	border: none;
	outline: none;
	background-color : #F6F6EF; 
}

.list-item:nth-child(odd) .upvote-button {
	background-color : #fff;
}

.next-page {
	color: #FF6600;
	border: none;
	background-color: #fff;
	cursor: pointer;
	outline: none;
}

.hide-button {
	border: none;
	background-color: #F6F6EF;
	cursor: pointer;
	outline: none;
	font-weight: bold;
}

.list-item:nth-child(odd) .hide-button {
	background-color: #fff;
}

.upvoted {
	color: red;
}
